# Ignora DS_Store Apple
.DS_Store
**/.DS_Store

# Ignora pycache
__pycache__/
**/__pycache__/

# Ignora i risultati della detection yolo
detection/runs/*

# Ignora frames di test
data/frames/

# Ignora output SORT
tracking/outputs/